@{
    Layout = "_layout";
}

<form method="get" action="~/Home/Resultado">
    <label>Numero 1</label><input name="num1" type="number" /> <br />
    <label>Numero 2</label><input name="num2" type="number" /> <br />
    <input type="submit" value="Sumar" />
</form>
