<html>
<head>
    <title>Ejercicio 1 de Progrmación web</title>
</head>
<body>
    <h1>Unidad 1</h1>
    <h2>Vistas de MVC</h2>


    @RenderBody()


    <footer>
        <h6>8 de septiembre de 2020</h6>
    </footer>
</body>
</html>
