<html>
<head>
    <title>Paso de par&aacutemetros</title>
</head>
<body>
    <h1>Paso de par&aacutemetros</h1>
    <h2>Datos de la materia</h2>
    <p>
        Nombre: Programación Web <br />
        Profesor: H&eacutector Javier Pad&iacutella Lara <br />
        Horario: 10:00 - 11:00 de Lunes a Viernes
    </p>
    <br />

    @RenderBody()

    <br />
    <footer>
        <h5>Datos del alumno:</h5>
        <p>
            Nombre: David Andr&eacutes R&iacuteos Gonz&aacutelez<br />
            N&uacutemero de control: 171G0247<br />
            Grupo: 7.1G
        </p>
    </footer>
</body>

</html>
