@model Actividad4.models.Cortometraje
@{
    Layout = "_layout";
}
<div id="principalVerCorto">

    <img class="blur" src="~/images/portadas/@(Model.Id)_pc.jpg">
    <div class="datosCorto">
        <h1>@Model.Nombre</h1>
        <p>
            @Model.Descripcion
        </p>
    </div>
</div>